footer{
    width: auto;
height: 310px;
flex-shrink: 0;
background: #A9AEDC;
}
.fo{
    color: #222;
    font-family: "Rockwell Extra Bold";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 50px;
}
.fof{
    width: 48px;
    height: 46.708px;
    flex-shrink: 0;
    fill: #222;
    padding-right: 5px;
}
.fod{
    display: inline-block;
    width: 270px;
    
    padding-top: 50px;
    margin-left: 100px;
}
.active-2{
    color: #222;
font-family: "Rockwell Extra Bold";
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;


}
