.logo{
    width: 60.829px;
height: 55.3px;
flex-shrink: 0;
vertical-align:middle;
margin-left: 100px;
height: 55.3px;


}
.he{
    vertical-align: middle;
    color: #2935A7;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Rockwell;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 80% */
letter-spacing: 0.4px;
padding-right: 50px;

} 
header{
    height: 200px;
    margin-top: 60px;
    width: auto;
}
.active{
    width: 233.641px;
height: 69.816px;
flex-shrink: 0;
color: #222;
font-size: 27.65px;
font-weight: 800;
line-height: normal;
padding-left: 5px;
padding-right: 70px;
vertical-align: middle;
font-family: Georgia, 

}     
input{
    
width: 168px;
height: 40px;
padding: 10px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #A7A7A7;
}

      